<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets d'erreur</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-br from-red-500 to-green-500 flex flex-col justify-center items-center min-h-screen">

    <header class="w-full bg-gradient-to-r from-blue-500 to-purple-500 p-4">
        <nav class="container mx-auto flex justify-between items-center">
            <div class="text-white text-2xl font-bold">
                Enissues
            </div>
            <ul class="flex space-x-4">
                <li>
                    <a href="/" class="text-white hover:text-gray-300">Accueil</a>
                </li>
                <li>
                    <a href="/error" class="text-white hover:text-gray-300">Test Erreur</a>
                </li>
                <li>
                    <a href="/contact" class="text-white hover:text-gray-300">Page non existante</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="bg-gradient-to-bl from-teal-300 to-amber-300 p-8 rounded-lg shadow-md w-full max-w-md mb-8">
        <h1 class="text-2xl font-bold text-center mb-6">
            Ticket d'erreur
        </h1>
        <form action="/issue/create" method="post" class="space-y-6">
            <div>
                <label for="auteur" class="block text-lg font-medium text-gray-900">
                    Nom :
                </label>
                <input type="text" id="auteur" name="auteur" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="Entrez votre nom" required>
            </div>
            <div>
                <label for="titre" class="block text-lg font-medium text-gray-900">
                    Titre :
                </label>
                <input type="text" id="titre" name="titre" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="Titre du message d'erreur" required>
            </div>
            <div>
                <label for="description" class="block text-lg font-medium text-gray-900">
                    Description :
                </label>
                <textarea name="description" id="description" placeholder="Description du problème..." class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                </textarea>
            </div>
            <div>
                <label for="etat" class="block text-lg font-medium text-gray-900">
                    Etat :
                </label>
                <select name="etat" id="etat" required>
                    <option value="En-Cours">En Cours</option>
                    <option value="Resolu">Résolu</option>
                </select>
            </div>
            <div>
                <input type="hidden" id="dateCreation" name="dateCreation" value="">
            </div>
            <div class="flex justify-center">
                <button
                type="submit"
                class="w-full bg-indigo-600 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                >
                    Envoyer
                </button>
            </div>
        </form>
    </div>

    <div class="w-full max-w-md space-y-4">
        <% if (tickets.length > 0) { %>
            <% tickets.forEach(function(ticket) { %>
                <div class="bg-gradient-to-bl from-teal-300 to-amber-300 p-8 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-4">Titre : <%= ticket.titre %></h3>
                    <ul class="mb-6 space-y-2">
                        <li class="border-b border-gray-200 py-2">
                            <span class="font-bold">Auteur : </span> <%= ticket.auteur %> -
                            <span class="font-bold"> Date de création : </span> <%= new Date(ticket.dateCreation).toLocaleString() %> - 
                           <% if (ticket.dateModification) { %>
                                <p><span class="font-bold">Dernière modification : </span> 
                                <%= new Date(ticket.dateModification).toLocaleString() %></p>                            
                           <% } %>
                            <p><span class="font-bold">Statut : </span> <%= ticket.etat %></p>
                            <a href="/issue/detail/<%= ticket._id %>" class= "text-xl text-indigo-500 font-semibold mb-4">Lire plus</a>   
                        </li> 
                    </ul>
                </div>
            <% }); %>
        <% } else { %>
            <div class="bg-gradient-to-bl from-teal-300 to-amber-300 p-8 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Aucun ticket soumis pour le moment.</h2>
            </div>
        <% } %>
    </div>

    <script src="./js/form.js"></script>
</body>
</html>
